<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h1 class="navbar-brand mb-0" i18n="Todo|Brand@@TodoBrand">Todo</h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="(authService.user | async)">
        <a class="nav-link" routerLink="/todo/all" routerLinkActive="active" i18n="List|Menu@@List">List</a>
      </li>
      <li class="nav-item" *ngIf="(authService.user | async)">
        <a class="nav-link" routerLink="/archive" routerLinkActive="active" i18n="Archive|Menu@@Archive">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active" i18n="Account|Menu@@Account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/avine/angular-todo" target="_blank" i18n="View on Github|Menu@@ViewOnGithub">View on Github</a>
      </li>
    </ul>

    <div class="dropdown">
      <button
        data-toggle="dropdown" id="dropLanguages" type="button"
        class="btn btn-secondary dropdown-toggle"
        i18n="Languages|Menu@@Languages">Languages</button>

      <div class="dropdown-menu" aria-labelledby="dropLanguages">
        <a class="dropdown-item" href="../en/">English</a>
        <a class="dropdown-item" href="../fr/">Français</a>
      </div>
    </div>
  </div>
</nav>
