<form (ngSubmit)="onCreate(form)" #form="ngForm">
  <div class="input-group" [ngClass]="{'has-danger': !form.control.valid}">
    <span class="input-group-addon">
      <input type="checkbox" (click)="onSwitchRole()" />
    </span>

    <input #titleInput *ngIf="role === 'add'"
      ngModel name="title" type="text"
      placeholder="What to do ?" i18n-placeholder="What to do ?|Placeholder@@WhatToDo"
      class="form-control" autocomplete="off" />

    <input #filterInput #filterModel="ngModel" *ngIf="role === 'filter'"
      (input)="onFilter(filterModel)"
      ngModel name="filter" type="text"
      placeholder="Filter" i18n-placeholder="Filter|Placeholder@@FilterBy"
      class="form-control" autocomplete="off" />
  </div>
</form>
