<app-todo-add (filtered)="filtered = $event"></app-todo-add>

<br />

<app-tabs [tabDefault]="tabId" (tabChanged)="onTabChanged($event)"></app-tabs>

<div class="row p-2" *ngIf="isLoading">
  <div class="col">
      <p class="text-center">
        <small i18n="Fetching data|Loader@@FetchingData">Fetching data...</small>
      </p>
  </div>
</div>

<div class="row p-2" *ngIf="!isLoading && !list.length">
  <div class="col">
      <p class="text-center">
        <small i18n="Nothing to do|Info@@NothingToDo">Nothing to do</small>
      </p>
  </div>
</div>

<app-todo-item
  *ngFor="let item of list | filter:filtered:'title' | sort:'id'"
  [item]="item"
  (statusChanged)="onStatusChanged(item.id, $event)">
</app-todo-item>

<br />

<div *ngIf="tabId === 'all' && list.length" class="text-center">
  <ng-container i18n="Remains|Description@@Remains">Remains:</ng-container>
  <span class="badge" [ngClass]="remainBadge()">
    {{ remain() }}/{{ list.length }}
  </span>
</div>
