<form (ngSubmit)="onCreate()">
  <input
    [(ngModel)]="title"
    name="title"
    type="text"
    placeholder="Qu'y a-t-il à faire ?"
    class="form-control" autofocus autocomplete="off" />
</form>

<br />

<app-todo-item
  *ngFor="let item of list"
  [title]="item.title"
  [done]="item.done"
  (changeStatus)="onChangeStatus(item.id, $event)">
</app-todo-item>

<br />

<div *ngIf="list.length" class="text-center">
  Reste à faire :
  <span class="badge" [ngClass]="remainBadge()">
    {{ remain() }}/{{ list.length }}
  </span>
</div>
