<form (ngSubmit)="onCreate()">
  <input
    [(ngModel)]="title"
    name="title"
    type="text"
    placeholder="What to do ?"
    i18n-placeholder="What to do ?|Placeholder@@WhatToDo"
    class="form-control" autofocus autocomplete="off" />
</form>

<br />

<app-todo-item
  *ngFor="let item of list"
  [title]="item.title"
  [done]="item.done"
  (changeStatus)="onChangeStatus(item.id, $event)">
</app-todo-item>

<br />

<div *ngIf="list.length" class="text-center">
  <ng-container i18n="Remains|Description@@Remains">Remains:</ng-container>
  <span class="badge" [ngClass]="remainBadge()">
    {{ remain() }}/{{ list.length }}
  </span>
</div>
